cloud-consumer-movie/target/*
cloud-consumer-movie-feign/target/*
cloud-consumer-movie-ribbon/target/*
cloud-consumer-movie-ribbon-properties-customer/target/*
cloud-consumer-movie-ribbon-without-eureka/target/*
cloud-discovery-eureka/target/*
cloud-provider-use-0-1/target/*
cloud-provider-use-0-2/target/*
cloud-provider-use-1-1/target/*
cloud-provider-use-1-2/target/*

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*